<!DOCTYPE html>
<html lang="en" ng-app="troopSim">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Troop Simulator</title>
  <link rel="stylesheet" type="text/css" href="troopsim.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script src='https://javascriptbase64.googlecode.com/files/base64.js'></script>
  <script src="troopsim.js"></script>
  <style></style>
</head>
<body>
  <div class="container" ng-controller="troopSimCtrl">
    <div class="row">

      <div class="col-md-3">
        <h4>Resource Training Costs</h4>
        <div ng-repeat="tier in data.rtc">
          <table class="input">
            <tr ng-repeat="cost in tier.costs">
              <td>T{{tier.tier}}</td>
              <td>{{cost.name}} RTC</td>
              <td><input type="text" ng-model="cost.percent">%</td>
            </tr>
          </table>
          <br/>
        </div>
      </div>

      <div class="col-md-5">
        <h4>Training Boosts</h4>
        <table class="input">
          <tr ng-repeat="boost in data.trainingBoosts">
            <td>{{boost.name}}</td>
            <td><input type="text" ng-model="boost.percent">%</td>
          </tr>
        </table>
        <br/>
        <h4>Misc Boosts</h4>
        <table class="input">
          <tr ng-repeat="boost in data.miscBoosts">
            <td>{{boost.name}}</td>
            <td><input type="text" ng-model="boost.percent">%</td>
          </tr>
        </table>
        <br/>
      </div>

      </div>
    </div>
  </div>
</body>
</html>