body {
    font-family: Sans-Serif;
}

table.rtc {margin-bottom:0px;}

.troop-train th {text-transform: capitalize;}
.troop-train tr.total {
      background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
.output {margin-bottom: 20px;}

.queue {margin-bottom: 3px;}
.barrack .count {width: 26%; padding: 6px 10px;}
.barrack .boost {width: 32%; padding: 5px;}

.input{
    background-color:lightgreen;
    color:darkgreen;
    border:1px solid darkgreen;
    width:100%;
}

.input input {
    width:40px;
    text-align:right;
}

.input td {
    padding-left: 3px;
}

.output{
    background-color:palevioletred;
    color:darkred;
    border:1px solid black;
    width:100%;
}

.output td {
    padding-left: 3px;
}

.unit-label {
    width:150px;
}

.unit-resource {
    width:75px;
}

.total {
    font-weight:bold;
}

.input-group {
    min-width: 100%;
}