body {
    font-family: Sans-Serif;
}

.input{
    background-color:lightgreen;
    color:darkgreen;
    border:1px solid darkgreen;
    width:100%;
}

.input input {
    width:40px;
    text-align:right;
}

.input td {
    padding-left: 3px;
}

.unit-label {
    width:150px;
}

.unit-resource {
    width:75px;
}