<!DOCTYPE html>
<html lang="en" ng-app="troopSim">
<head>
  <meta charset="UTF-8">
  <title>Troop Simulator</title>
  <link rel="stylesheet" type="text/css" href="troopsim.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
  <script src='https://javascriptbase64.googlecode.com/files/base64.js'></script>
  <script src="troopsim.js"></script>
  <style></style>
</head>
<body>
  <div ng-controller="troopSimCtrl">
    <h4>Resource Training Costs</h4>
    <div ng-repeat="tier in resourceTrainingCosts">
      <table class="input">
        <tr ng-repeat="cost in tier.costs">
          <td>T{{tier.tier}}</td>
          <td>{{cost.name}} RTC</td>
          <td><input type="text" ng-model="cost.percent">%</td>
        </tr>
      </table>
      <br/>
    </div>
  </div>
</body>
</html>